.link-bg {
  background-color: rgba(75, 139, 190, 0.9);
}

.profile-img {
  max-width: 120px;
}

.icon {
  max-width: 2rem;
}

.text-white {
  color: #f9f6ef;
}

.text-black {
  color: #000000;
}

p.url {
  margin: 0;
  border: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.btn-show-url {
  max-width: 1rem;
}
