@import "custom-style.css";

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../asset/images/background.jpg");
  background-repeat: repeat;
}

/* .main-container {
  width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
  }
} */
